/* Start coding here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--Toei-*/

/*--Pang--*/

/*--Fluk--*/
/*--outer-container--*/
.f-outer-container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-footer-container {
  /*--item-container*/
  width: 834px;
  height: 850px;
  padding: 0px 24px 80px 24px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#f-get-in-touch-icon {
  /*section*/
  font-family: inter;
  font-weight: 700;
  font-size: 44px;
}
.f-register-section {
  width: 786px;
  height: 666px;
  padding: 80px 120px 80px 120px;
  gap: 40px;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb2;
}
.f-input label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5f5f76;
}
.f-input input {
  /*--ช่อง inpuf--*/
  width: 546px;
  height: 48px;
  padding: 12px 12px 12px 16px;
  gap: 4px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #ffffff;
  border: 1px solid #e0e0ed;
}
#f-input-message {
  /*--ช่อง message--*/
  width: 546px;
  height: 102px;
  padding: 12px 2px 2px 16px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  text-align: start;
}

.f-submit-button {
  /*--ปุ่ม submit--*/
  width: 546px;
  height: 56px;
  padding: 16px 36px 16px 36px;
  gap: 6px;
  border-radius: 16px;
  opacity: 0px;
  background: #1a1a2c;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.f-footer-section {
  /*--footer--*/
  display: flex;
  justify-content: space-between;
  width: 786px;
  margin-right: 24px;
  margin-left: 24px;
}
.f-address {
  color: #5f5f76;
  font-size: 16px;
  font-weight: 500;
}
.f-footer-button {
  /*--FAQ & other button--*/
  border: none;
  background-color: #ffffff;
  gap: 43px;
  font-size: 16px;
  font-weight: 600;
}
